//- Daypack

section.daypack
    .grid
        .daypack__wrapper
            .daypack__text
                h3.daypack__title voyager 
                    span daypack
            .daypack__banner
                img(src="img/collect4.jpg", alt="Daypack voyager")