//- Field

section.field
    .grid
        .field__wrapper
            .field__banner
                img(src="img/collect3.jpg" alt="field pack")
            .field__text
                h4.field__title field camera bag
                p.field__description Our field camera bag is constructed from 14oz Salt & Pepper canvas and Cambara Meridian English
                                    | bridle leather. We've put these bags through the ringer in testing and we think
                                    | you'll approve of the result. Our Camera Bag is fully lined and padded, and features an adjustable 
                                    | shoulder strap and pad, as well as two interior flap pockets for smaller gear and film.
                a(href="#").field__link Read more
                    svg.icon.field__icon
                        use(xlink:href="#angle-sm")
            .number.number--field.wow.fadeInUp 03        