//- Gallery

section.gallery#showScroll
    .grid
        ul.gallery__list
            li.gallery__item
                img(src="img/back-sm1.jpg", alt="", srcset="")
                .gallery__inner
                    .gallery__circle
            li.gallery__item
                img(src="img/back-sm2.jpg", alt="", srcset="")
                .gallery__inner
                    .gallery__circle
            li.gallery__item
                img(src="img/back-sm3.jpg", alt="", srcset="")
                .gallery__inner
                    .gallery__circle
            li.gallery__item
                img(src="img/back-sm4.jpg", alt="", srcset="")
                .gallery__inner
                    .gallery__circle
            li.gallery__item
                img(src="img/back-sm5.jpg", alt="", srcset="")
                .gallery__circle
                .gallery__inner
                    .gallery__circle
            li.gallery__item
                img(src="img/back-sm6.jpg", alt="", srcset="")
                .gallery__inner
                    .gallery__circle
            li.gallery__item.gallery__item--box
                span.number.number--first G
                //- span.gallery--second    
                //- span.gallery--third