//- Nomad Section

section.nomad
    .grid
        .nomad__wrapper
            .number.number--nomad.wow.slideInLeft 01
            .nomad__banner
                img(src="img/collect1.jpg" alt="Nomad pack")
            .nomad__text
                h4.nomad__title NOMAD DUFFLE
                p.nomad__description This bag can be carried by hand, worn as a backpack or slung over a shoulder depending on your traveling needs
                a(href="#").nomad__link Read more
                    svg.icon.nomad__icon
                        use(xlink:href="#angle-sm")
                a(href="#").nomad__logo
                    img(src="img/logo-purchase.png", alt="Logo Tanner")