// Spruce

section.spruce
    .grid
        .spruce__wrapper
            .spruce__text
                h4.spruce__title Spruce Salt & pepper
                p.spruce__description We designed our Nomad Duffle as a versatile yet rugged piece of 
                                    | luggage that's just as comfortable outdoors as it is in an overhead compartment
                a(href="#").spruce__link Read more
                    svg.icon.spruce__icon
                        use(xlink:href="#angle-sm")
            .spruce__banner
                img(src="img/collect2.jpg" alt="Spruce pack").spruce__img
            .number.number--spruce.wow.fadeInUp 02            