//- SVG Sprites
svg.hidden(width="0" height="0")
  symbol#angle-lg(xmlns="http://www.w3.org/2000/svg" viewBox="-2 -3.5 51 49")
    path(d="M44.787 28.981L48 25.727 24 0 0 25.727l3.217 3.254L24 6.706z" fill-rule="evenodd")
  symbol#angle-sm(xmlns="http://www.w3.org/2000/svg" viewBox="-15 -31 51 49")
    path(d="M3.07 17.9l8.83-8.6a.481.481 0 0 0 0-.6L3.07.1a.268.268 0 0 0-.26-.1.285.285 0 0 0-.27.1L.11 2.5a1.115 1.115 0 0 0-.11.2.529.529 0 0 0 .11.3l6.12 6-6.12 6a.35.35 0 0 0 0 .5l2.43 2.4a.506.506 0 0 0 .53 0z" fill="#383838" fill-rule="evenodd")
  symbol#arrow_buy(xmlns="http://www.w3.org/2000/svg" viewBox="-50 -60 180 180")
    path(d="M0 29.81h68.41L49.86 48.36 54.5 53 81 26.5 54.5 0l-4.64 4.64 18.55 18.55H0v6.62z" fill-rule="evenodd")
  symbol#arrow(xmlns="http://www.w3.org/2000/svg" viewBox="-70 0 180 180")
    path(d="M14 0v148.24L2.8 136.8 0 139.66 16 156l16-16.34-2.8-2.86L18 148.24V0h-4z" fill-rule="evenodd")
//- svg.icon
//-   use(xlink:href="#angle-lg")
//- svg.icon
//-   use(xlink:href="#angle-sm")
//- svg.icon
//-   use(xlink:href="#arrow_buy")
//- svg.icon
//-   use(xlink:href="#arrow")
