//- Drifter

section.drifter
    .grid
        .drifter__wrapper
            .section-title.section-title--drifter.wow.slideInRight
                h3.section-title__title.section-title__title--drifter drifter dopp kit
                span.section-title__subtitle.section-title__subtitle--drifter navy salt & pepper 
            .drifter__text 
                p.drifter__desc.wow.slideInLeft Field-tested from the peaks of the Cascades down 
                                | to the desert floor of Joshua Tree, the Wilderness Rucksack was built to put on some serious miles 
                                | for years to come. A comfortable, dependable combination of 14oz Salt & Pepper canvas, premium wool felt, and Cambara English bridle leather.
                svg.icon.drifter__arrow
                    use(xlink:href="#arrow")
            .drifter__banner
                img(src="img/drift-pack.jpg")
            .slider
                .slider__wrapper
                    .slider__item
                        img(src="img/pack1.jpg" alt="Pack")
                    .slider__item
                        img(src="img/pack2.jpg" alt="Pack")
                    .slider__item.slider__item--active.wow.fadeInUp
                        img(src="img/drifterBagLg.png" alt="Pack").slider__img
                        span.slider__price $456.70
                        a(href="#").slider__buy
                            .slider__text buy
                            svg.icon.slider__arrow
                                use(xlink:href="#arrow_buy")
                        ul.slider-nav__list.slider-nav__list--drifter
                            svg.icon.slider-nav__angle.slider-nav__angle--left
                                use(xlink:href="#angle-lg")
                            li.slider-nav__item
                                button.slider-nav__btn.slider-nav__btn--active 01
                            li.slider-nav__item
                                button.slider-nav__btn 02
                            li.slider-nav__item
                                button.slider-nav__btn 03
                            li.slider-nav__item
                                button.slider-nav__btn 04
                            li.slider-nav__item
                                button.slider-nav__btn 05
                    .slider__item
                        img(src="img/pack4.jpg" alt="Pack")