//- Footer

footer.footer
    .grid
        .footer__wrapper
            .footer__copyright
                a(href="#").footer__logo
                    img(src="img/logo-header.png")
                .footer__company @ Tanner goods portland ore 2016
            .footer__sitemap
                ul.footer__nav.footer__nav--margin
                    li.footer__item.footer__item--active
                        a(href="#").footer__link.footer__link--active finda
                    li.footer__item
                        a(href="#").footer__link store
                    li.footer__item
                        a(href="#").footer__link size
                    li.footer__item
                        a(href="#").footer__link care
                    li.footer__item
                        a(href="#").footer__link watch
                ul.footer__nav.footer__nav--social
                    li.footer__item
                        a(href="https://facebook.com" target="_blank").footer__link.footer__link--social facebook
                    li.footer__item.footer__item--active
                        a(href="https://pinterest.com" target="_blank").footer__link.footer__link--social.footer__link--active pinterest
                    li.footer__item
                        a(href="https://twitter.com" target="_blank").footer__link.footer__link--social twitter
                    li.footer__item
                        a(href="https://instagram.com" target="_blank").footer__link.footer__link--social instagram
            .footer__adress
                span.footer__city.footer__city--black Sebazzo Ltd, Unit 3F2
                span.footer__city Zetland House
                span.footer__city 5-25 Scrutton treet
                span.footer__city London EC2A 4HU
            .footer__subscribe
                .footer__title email newsletters 
                .footer__description Sign up for new TANNER GOODS content, updates, surveys & offers
                form.footer__form
                    input(type="text").footer__input
                    button(type="submit").footer__btn 
                        svg.icon.footer__icon
                            use(xlink:href="#angle-lg")