//- Header

-var navItems = ['Navy salt', 'voyager', 'drifter', 'collection', 'contact']; 

header.header
    .grid
        .header__wrapper
            a(href="#").logo
                img(src="img/logo-header.png", alt="Logo Tanner").logo__img
                .logo__bg
            nav.nav
                ul.nav__list
                    li.nav__item.nav__item--active
                            a(href="#").nav__link navy salt
                    li.nav__item
                            a(href="#").nav__link voyager
                    li.nav__item
                            a(href="#").nav__link.nav__link--white driffter
                    li.nav__item
                            a(href="#").nav__link.nav__link--white collection
                    li.nav__item
                            a(href="#").nav__link.nav__link--white contact
            .sandwich
                .sandwich__line   
                .sandwich__line    
                .sandwich__line    

