//- Main

main.main
    .grid
        .main__heading
            h3.main__title Tanner collections
            span.main__subtitle navy salt & papper

    include ../blocks/_nomad
    include ../blocks/_spruce
    include ../blocks/_field
    include ../blocks/_daypack
    include ../blocks/_gallery