// Gallery

.gallery {

    // LIST
    &__list {
        position: relative;
        top: -280px;
        padding: 0 120px 0 0;
        display: flex;
        align-items: flex-end;
        list-style: none;

        @include mediaXl {
            top: -150px;
            padding: 0;
        }

        @include mediaXs {
            top: -100px;
            padding: 0;
            flex-wrap: wrap;
        }
    }


    // ITEM
    &__item {
        position: relative;
        margin: 0 20px;

        @include mediaLg {
            margin: 0 5px;
        }

        @include mediaMd {
            margin: 0 5px;
        }

        @include mediaXs {
            width: 50%;
            margin: 0;
            padding: 5px;
        }

        &:hover {
            .gallery__inner {
                display: block;
            }
        }

        // BOX
        &--box {
            display: block;
            width: 20%;
            height: 270px;
            background: $color-beige--light;

            @include mediaXl {
                width: 30%;
                height: 160px;
            }

            @include mediaLg {
                width: 40%;   
                height: 160px;
            }

            @include mediaMd {
                width: 40%;   
                height: 110px;
            }

            @include mediaXs {
               width: 100%;
               margin: 0 5px;
            }

            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                background: $color-beige--light;
            }

            &::before {
                top: -23px;
                height: 65px;
                z-index: 5;

                @include mediaXl {
                    top: -8px;
                    height: 37px;
                }

                @include mediaLg {
                    top: 2px;
                    height: 34px;
                }

                @include mediaMd {
                    top: -28px;
                    height: 34px;
                }

                @include mediaXs {
                    display: none;
                 }
            }

            &::after {
                height: 450px;
                top: -470px;
                opacity: .2;
                background: $color-black;

                @include mediaXl {
                    height: 240px;
                    top: -250px;
                }

                @include mediaLg {
                    height: 180px;
                    top: -207px;
                }

                @include mediaMd {
                    height: 180px;
                    top: -207px;
                }

                @include mediaXs {
                    display: none;
                 }
            }
        }
    }

    // INNER
    &__inner {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($color-black, .7);
    }

    // CIRCLE
    &__circle {
        position: absolute;
        top: 50%;    
        left: 50%;
        display: block;
        width: 70px;
        height: 70px;
        border: 3px solid $color-white;
        border-radius: 50%;
        @include centered;

        @include mediaLg {
            width: 40px;
            height: 40px;
            border: 2px solid $color-white;
        }

        @include mediaMd {
            width: 40px;
            height: 40px;
            border: 2px solid $color-white;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            display: block;
            width: 3px;
            height: 30px;
            background: $color-white;

            @include mediaLg {
                width: 2px;
                height: 20px;
            }

            @include mediaMd {
                width: 2px;
                height: 20px;
            }
        }

        &::before {
            top: 28%;
            transform: translateX(-50%);
            transform: rotate(90deg);

            @include mediaLg {
                top: 26%;
            }

            @include mediaMd {
                top: 26%;
            }
        }

        &::after {
            top: 50%;
            @include centered;
        }
    }
}