// Fonts
$font-montserrat: 'Montserrat', 'sans-serif';
$font-roboto: 'Roboto', 'sans-serif';
$font-myriad: 'Myriad Pro', 'sans-serif';
$font-muller: 'Muller', 'sans-serif';

// Colors
$color-white: #fff;
$color-white--dark: #ededed;
$color-white--light: #fbf7f2;
$color-black: #000;
$color-black--light: #292929;
$color-gray--dark: #212121;
$color-gray: #878787;
$color-gray--light: #a7a7a7;
$color-beige: #b8a47e;
$color-beige--light: #e1d9c9;
$color-beige--dark: #6e6555;
$color-beige--middle: #969696;
$color-yellow: #FFC107;
